<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Previsualización de Plantilla</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 12pt;
            text-align: justify;
        }
    </style>
</head>
<body>
    <div class="container" style="white-space: pre-wrap;">
        {{ plantilla_content }}
    </div>
    <script>
        window.onload = function() {
            window.print();
        };
    </script>
</body>
</html>